body{
  background:#020617;
  color:white;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.box{
  background:#111827;
  padding:24px;
  border-radius:12px;
  text-align:center;
}
#key{
  font-size:32px;
  margin-top:10px;
}
